html, body {
	height: 100%;
}

body {
	background-color:black;
}

.flex-container {
	height: 100%;
}

.navbar {
	background-color: transparent;
	border-color: transparent;
}

.navbar-padding-top {
	padding-top: 8px;
}

.transparent {
	opacity: 0.5;
}

.page {
	height: 100%;

	background: url(../images/dino_dark.jpg)  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.roboto{
	font-family: 'Roboto Condensed', sans-serif;
}

.nav>li>a:focus {
	background: #B84D4D !important;
}

.page_heading{
	position: absolute;
	top: 75%;
	left: 15%;
}

.button:hover{
	background-color: #B84D4D;
	color: white;
	text-decoration: none;
	transition: 0.7s all linear;
}

.info_text {
	color: white !important;
}

.text-24 {
	font-size: 24px;
}

.button {
  padding: 2px 6px 2px 6px;
	margin-top: 2px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;

	background: transparent;
	color: white;
	border-color: white;
	border-style: solid;
	min-width: 36%;

	font-size: 24px;
}

.button a {
	text-decoration: none;
}

.button-container {
	padding-left: 32px;
}

.title-font {
	font-size: 36px;
}

@media screen and (max-device-width : 450px)
{
  .button
  {
    font-size: 20px;
  }
}

@media screen and (max-device-width : 450px)
{
  .title-font
  {
    font-size: 24px;
  }
}
